div#map

ul#legend
  li.first 
    b
    div Less than 2 vape shops per 100,000 residents
  li.second
    b
    div 2 to 4
  li.third
    b
    div 4 to 6
  li.fourth
    b
    div More than 6

div.clear
