div#map

ul#legend
  li.first 
    b
    div Less than 2.5 vape shops per 1,000 residents
  li.second
    b
    div 2.5 to 5
  li.third
    b
    div 5 to 7.5
  li.fourth
    b
    div More than 7.5

div.clear
